#modules-list .spotlight{

  -webkit-animation: spotlight 0.6s ease;
  -o-animation: spotlight 0.6s ease;
  animation: spotlight 0.6s ease;

  @keyframes spotlight {

    from{
      background: #ffd617;
    }

    to{
      background: #FFF;
    }

  }

}