
$theme-color: #4F1C4C;
$second-color: #6f276c;
$third-color: #91318E;

// Including all the modules
@import "module/navbar/navbar";
@import "module/modules-list/module-list";
@import "module/share/share-button";
@import "module/share/box/share-box";
@import "module/notification/notification";
@import "module/icon/npm/npm";
@import "module/spotlight/spotlight";


// Fonst
@import url('https://fonts.googleapis.com/css?family=Oswald');

*{
  padding: 0em;
  margin: 0em;
  overflow-x: hidden;
}

html{
  font-family: 'Oswald', sans-serif;
  background: $theme-color;
}

// Hide the scroll bar
body::--webkit-scrollbar{
  width: 0px;
}

body::--moz-scrollbar{
  width: 0px;
}

body::--o-scrollbar{
  width: 0px;
}

body::--ms-scrollbar{
  width: 0px;
}